{
  "log": {
    "_recordingName": "Product object/can filter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9ab1d7ec8f8e5e3ad7e27caefcb137d3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"ProductList\",\"variables\":{\"channel\":\"default-channel\",\"filter\":{\"search\":\"beer\"},\"first\":20},\"query\":\"fragment BaseProduct on Product {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  isAvailableForPurchase\\n  availableForPurchase\\n  seoTitle\\n  thumbnail {\\n    url\\n    alt\\n    __typename\\n  }\\n  thumbnail2x: thumbnail(size: 510) {\\n    url\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment Price on TaxedMoney {\\n  gross {\\n    amount\\n    currency\\n    __typename\\n  }\\n  net {\\n    amount\\n    currency\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment ProductPric[...]
