.*
!.dockerignore
!.babelrc
!.circle
!.gitignore
!.github
!.jest
!.prettierrc
!.prettierignore
!.eslintrc
!.npmignore
!.plop
!.storybook
lib
*.log
.DS_Store
node_modules
.env
.envrc
*-lock.*
schema.graphql
