.*
!.dockerignore
!.babelrc
!.circle
!.gitignore
!.github
!.jest
!.prettierrc
!.prettierignore
!.eslintrc
!.npmignore
!.plop
.idea
.vscode
.next
!.storybook
lib
dist
*.log
.DS_Store
node_modules
.env
.envrc
*-lock.*
schema.graphql
introspection.json
