{
  "log": {
    "_recordingName": "Auth API/Returns error if credentials are invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "291e96a76e12dfbf777c9106c4afc8a8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"UserDetails\",\"variables\":{},\"query\":\"fragment Address on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment User on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  defaultShippingAddress {\\n    ...Address\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...Address\\n    __typename\\n  }\\n  addresses {\\n    ...Address\\n    __typename\\n  }\\n  userPermissions {\\n    code\\n    name\\n    __typename\\n  }\\n  avatar {\\n    url\\n    __typename\\n  }\\n  __typename\\n}\\n\\nquery UserDetails {\\n  user: me {\\n    ...User\\n    __typename\\n  }\\n}\\n\"},{\"operationName\":\"TokenAuth\",\"variables\":{\"email\":\"sdk@example.com\",\"password\":\"test1\"},\"query\":\"fragment AccountError on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation TokenAuth($email: String!, $password: String!) {\\n  tokenCreate(email: $email, password: $password) {\\n    csrfToken\\n    refreshToken\\n    token\\n    errors: accountErrors {\\n      ...AccountError\\n      __typename\\n    }\\n    user {\\n      id\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://demo.saleor.io/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 449,
            "text": "[{\"data\": {\"user\": null}, \"extensions\": {\"cost\": {\"requestedQueryCost\": 3, \"maximumAvailable\": 50000}}}, {\"data\": {\"tokenCreate\": {\"csrfToken\": null, \"refreshToken\": null, \"token\": null, \"errors\": [{\"code\": \"INVALID_CREDENTIALS\", \"field\": \"email\", \"message\": \"Please, enter valid credentials\", \"__typename\": \"AccountError\"}], \"user\": null, \"__typename\": \"CreateToken\"}}, \"extensions\": {\"cost\": {\"requestedQueryCost\": 0, \"maximumAvailable\": 50000}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "cpt1::n9c8q-1672161530908-79b0ab3fcf4a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2687,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
